html {
  background-color: rgb(255, 191, 65);
  font-family: monospace;
}

.header {
  background-color: black;
  color: rgb(255, 191, 65); 
  font-family: monospace;
  border-radius: 10px;
  font-style: italic;
}

#tamago {
  text-align: center;
}

#home {
  color: white;
  margin-left: 10px;
}

#recipes {
  color: white;
}

#about-tamago {
  text-align: center;
}

#purpose {
  text-align: center;
}
p {
  text-align: justify;
  font-size: 13px;
}

h5 {
  text-align: center;
}

hr {
  height: 1px;
  background-color: black;
  border-style: solid;
  border-radius: 10px;
}

