html {
  background-color: rgb(255, 191, 65);
  font-family: monospace;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header {
  background-color: black;
  color: rgb(255, 191, 65); 
  font-family: monospace;
  border-radius: 10px;
  font-style: italic;
}

#logo {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#tamago {
  text-align: center;
}

#home {
  color: white;
  margin-left: 10px;
}

#recipes {
  color: white;
}

#about-tamago {
  text-align: center;
}

#purpose {
  text-align: center;
}
p {
  text-align: justify;
  font-size: 13px;
}

h5 {
  text-align: center;
}

hr {
  height: 1px;
  background-color: black;
  border-style: solid;
  border-radius: 10px;
}

.main {
  margin-left: 20px;
  margin-right: 20px;
}

.div1 {
  background-color: beige;
  border-style: none;
  border-radius: 10px;
}