html {
  background-color: rgb(255, 191, 65);
  font-family: monospace
}

.header {
  background-color: black;
  color: rgb(255, 191, 65);
  font-family: monospace;
  border-radius: 10px;
  font-style: italic;
}

.main {
  margin-left: 20px;
  margin-right: 20px
}

#tamago {
  text-align: center;
}

#home {
  color: white;
  margin-left: 10px;
}

#recipes {
  color: white;
}

#logo {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tamago-recipes {
  text-align: center;
}