html {
  background-color: yellow;
  font-family: monospace
}

.header {
  background-color: black;
  color: yellow;
  font-family: monospace;
  border-radius: 10px;
  font-style: italic;
}

#tamago {
  text-align: center;
}

#home {
  color: white;
  margin-left: 10px;
}

#recipes {
  color: white;
}